<h1>{{tiutlo}}</h1>

<!--
<button (click)="numero = numero +1;" >+1</button>
<span> {{numero}} </span>
<button (click)="numero = numero -1;" >-1</button>

<button (click)="sumar" >+1</button>
<span> {{numero}} </span>
<button (click)="restar" >-1</button>
-->
<!--
<button (click)="contador(1)" >+1</button>
<span> {{numero}} </span>
<button (click)="contador(-1)">-1</button>
-->

<button (click)="base(+base)" >{{+base}}</button>
<span> {{numero}} </span>
<button (click)="base(-base)">{{-base}}</button>